@use "base/button";

@mixin button-icon {
    i.arrow-up {
        @include button.button-no-before-after;
        width: 0; 
        height: 0;
        border-left: calc( button.$size / 2 ) solid transparent;
        border-right: calc( button.$size / 2 ) solid transparent;
        border-bottom: button.$size solid currentColor;
    }
}