@use "base/button";

@mixin button-icon {
    i.pin {
        @include button.button;
        height: button.$size - button.$border-width;
        border-top: button.$border;
        border-radius: 50%;

        &::before {
            @include button.left-center;
            background-color: currentColor;
            width: button.$border-width;
            height: calc( button.$size - ( ( button.$border-width * 2 ) + 3px ) );
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            top: 0;
        }

        &::after {
            @include button.left-center;
            background-color: currentColor;
            width: button.$border-width - 1px;
            height: button.$border-width - 1px;
            border-radius: 50%;
            bottom: 0;
        }
    }
}