@use "button";

@mixin button-icon {
    i.plus {
        @include button.button;

        &::before {
            @include button.left-center;
            background-color: currentColor;
            width: button.$border-width;
            height: 100%;
            border-radius: button.$border-radius;
            top: 0;
        }

        &::after {
            @include button.top-center;
            background-color: currentColor;
            width: 100%;
            height: button.$border-width;
            border-radius: button.$border-radius;
            left: 0;
        }
    }
}