@use "button";

@mixin button-icon {
    i.refresh {
        @include button.button;
        
        &::before {
            border-top: button.$border;
            border-left: button.$border;
            border-radius: button.$border-radius;
            width: button.$size - button.$border-width * 2 - calc( button.$border-width / 3 );
            height: button.$size;
            left: 0;
            top: 0;
        }

        &::after {
            border-bottom: button.$border;
            border-right: button.$border;
            border-radius: button.$border-radius;
            width: button.$size - button.$border-width * 2 - calc( button.$border-width / 3 );
            height: button.$size;
            right: 0;
            top: 0;
        }
    }
}