$minimum-width: 768px;


@mixin no-selection-allowed {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

@mixin buttons($apply-padding: true) {
    button {
        background-color: var(--heat-js-button-background-color);
        border: var(--heat-js-border-size) solid var(--heat-js-button-border-color);
        color: var(--heat-js-button-text-color);
        border-radius: var(--heat-js-border-radius);
        outline: none;
        transition: var(--heat-js-transition);

        &.default {
            font-weight: 700;
        }

        @if $apply-padding {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 9px;
            padding-right: 9px;
        }

        &:disabled {
            color: var(--heat-js-button-color-disabled);
        }

        &:not(.active):not(:disabled):active {
            background: var(--heat-js-button-background-color-active) !important;
            color: var(--heat-js-button-text-color-active) !important;
        }

        &:not(.active):not(:disabled):hover {
            cursor: pointer;
            background: var(--heat-js-button-background-color-hover);
            color: var(--heat-js-button-text-color-hover);
        }
    }

    button.active {
        cursor: default;
        background: var(--heat-js-button-background-color-hover);
        color: var(--heat-js-button-text-color-hover);
        transition: var(--heat-js-transition);
        font-weight: var(--heat-js-text-bold-weight-active);
    }
}

@mixin down-arrow($left-right-border-size: 8px, $border-top-size: 14px, $left: true, $margin-size: var(--heat-js-spacing)) {
    div.down-arrow {
        display: inline-block;
        width: 0;
        height: 0;
        border-left: $left-right-border-size solid transparent;
        border-right: $left-right-border-size solid transparent;
        border-top: $border-top-size solid var(--heat-js-color-white);
        transition: var(--heat-js-transition);

        @if ($left) {
            margin-right: $margin-size;
        }
        @else {
            margin-left: $margin-size;
        }
    }
}

@mixin labels {
    background-color: var(--heat-js-container-background-color);
    padding-right: calc( var(--heat-js-spacing) * 3 );
    padding-top: calc( var(--heat-js-spacing-font-size) + var(--heat-js-spacing) + 1px );
    position: sticky;
    left: 0;
    border-right: var(--heat-js-border-size) solid var(--heat-js-container-border-color);
    z-index: 50;

    div.label-0,
    div.label-25,
    div.label-50,
    div.label-75,
    div.label-100 {
        font-weight: var(--heat-js-text-bold-weight);
        text-align: left !important;
        height: var(--heat-js-day-size);
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 0;
        padding-right: var(--heat-js-y-label-spacing);
    }

    div.label-0 {
        top: 0;
    }

    div.label-25 {
        top: 25%;
        transform: translateY( -25% );
    }

    div.label-50 {
        top: 50%;
        transform: translateY( -50% );
    }

    div.label-75 {
        top: 75%;
        transform: translateY( -75% );
    }

    div.label-100 {
        bottom: 0;
    }
}

@mixin centered-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -50% );
    font-weight: var(--heat-js-text-bold-weight);
}

@mixin description {
    text-align: center;

    span.label,
    a.label,
    a.label:visited {
        color: var(--heat-js-color-white);
        font-weight: var(--heat-js-text-bold-weight);
        border-bottom: 1px solid transparent;
        text-decoration: none;
    }

    a.label {
        transition: var(--heat-js-transition);

        &:active {
            color: var(--heat-js-color-gray);
        }

        &:hover {
            border-bottom: 1px solid var(--heat-js-color-white);
        }
    }
}

@mixin box-sizing {
    box-sizing: border-box;
    line-height: normal;
}

@mixin scroll-bars {
    &::-webkit-scrollbar {
        width: var(--heat-js-scroll-bar-size);
        height: var(--heat-js-scroll-bar-size);
        border-radius: var(--heat-js-scroll-bar-border-radius);
    }
    
    &::-webkit-scrollbar-track {
        border-radius: var(--heat-js-scroll-bar-border-radius);
    }
    
    &::-webkit-scrollbar-thumb {
        background: var(--heat-js-scroll-bar-thumb-color);
        border-radius: var(--heat-js-scroll-bar-border-radius);

        &:active {
            background-color: var(--heat-js-color-light-gray);
        }
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

@mixin close-button($float: right, $close-button-size: 16px) {
    $close-button-width: 3px;
    float: $float;
    width: $close-button-size;
    height: $close-button-size;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        content: "";
        position: absolute;
        height: $close-button-size;
        width: $close-button-width;
        left: calc( ( $close-button-size / 2 ) - ( $close-button-width / 2 ) );
        top: 0;
        background-color: var(--heat-js-color-white);
        border-radius: var(--heat-js-border-radius);
        transition: var(--heat-js-transition);
    }

    &::before {
        transform: rotate( 45deg );
    }

    &::after {
        transform: rotate( -45deg );
    }

    &:hover::before,
    &:hover::after {
        background-color: var(--heat-js-color-gray);
    }
}

@mixin icon-button-size {
    width: 30px;
    height: 30px;
}