body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #DDDDDD !important;
}

a,
a:visited {
    color: blue;
}

div.header {
    background-color: #AAAAAA !important;
    color: black !important;
    padding: 10px !important;
    border-bottom: 1px black solid !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin: 0 !important;
}

div.header h1,
div.header p {
    margin: 0;
    padding: 0;
}

div.header h1 {
    margin-bottom: 8px;
    font-weight: 700;
}

h2 {
    display: block !important;
    font-size: 1.5em !important;
    margin-block-start: 0.83em !important;
    margin-block-end: 0.83em !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    font-weight: bold !important;
}

div.contents {
    padding: 10px;
}

button.btn-primary {
    margin: 3px;
}